ErrorDocument 403 /view/404.php
ErrorDocument 404 /view/404.php
# REMOVE PHP FROM URL
# REMOVE PHP EXTENSION
RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php

